<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.medi8.core"
   name="Medi8 Core Plug-in"
   version="1.0.0"
   provider-name="medi8.org"
   class="org.medi8.core.CorePlugin">

   <runtime>
      <library name="medi8core.jar"/>
      <library name="lib/javaosc.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         id="medi8Nature"
         name="Medi8 Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.medi8.core.Medi8ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editors.Medi8Editor"
            icon="medi8.png"
            extensions="seq"
            class="org.medi8.internal.core.Medi8Editor"
            id="org.medi8.internal.core.Medi8Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Medi8"
            icon="medi8.png"
            class="org.medi8.core.Medi8Perspective"
            id="org.medi8.core.Medi8Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Movie"
            id="org.medi8">
      </category>
      <wizard
            name="Project"
            icon="medi8.png"
            category="org.medi8"
            class="org.medi8.core.wizards.Medi8ProjectWizard"
            project="true"
            finalPerspective="org.medi8.core.Medi8Perspective"
            id="org.medi8.new.project">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Medi8"
            id="Medi8">
      </category>
      <view
            name="Monitor"
            icon="medi8.png"
            category="Medi8"
            class="org.medi8.internal.core.ui.MonitorView"
            id="org.medi8.internal.core.ui.MonitorView">
      </view>
      <view
      	    name="Audio"
      	    icon="medi8.png"
      	    category="Medi8"
      	    class="org.medi8.internal.core.ui.AudioBusView"
      	    id="org.medi8.internal.core.ui.AudioBusView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.medi8.core.preferences.PrimaryPreferencePage"
            name="Medi8"
            id="org.medi8.core.preferences.PrimaryPreferencePage"/>
      <page
            class="org.medi8.core.preferences.AudioPreferencePage"
            category="org.medi8.core.preferences.PrimaryPreferencePage"
            name="Audio"
            id="org.medi8.core.preferences.AudioPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
   </extension>
                                                                                

</plugin>
